.todos.done .priority, .todos.done .description {
  text-decoration: line-through;
}
.todos .priority {
  width: 4vh;
  text-align: center;
}
.todos .description {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.todos .todo:hover {
  background-color: rgb(219, 219, 219);
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex-grow-1 {
  flex-grow: 1;
}

.m-t-10 {
  margin-top: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px !important;
}

.align-items-c {
  align-items: center;
}