$colors: (
    common: (
        white: #fff,
        black: #000,
    ),
    body: (
        heading: #161616,
        heading2: #232323,
        text: #6A6A6A,
        text2: #878787,
        text3: #787878,
    ),
    theme: (
        1: #EF0454,
    ),
    bg: (
        gray: #F9F9F9,
        gray2: #EFEFEF,
    ),
    border: (
        1: #474747,
        2: #757575,
        3: #303030,
        4: #E5E5E5,
        5: #D4D4D4,
        6: #DFDFDF,
    )
)