/*----------------------------------------*/
/*  11. Contact
/*----------------------------------------*/
.bd-contact-list {
    display: flex;
    align-items: center;
    &-icon {
        margin-right: 15px;
        i {
            height: 50px;
            width: 50px;
            border: 1px solid #F27CA4;
            line-height: 51px;
            text-align: center;
            font-size: 20px;
            color: var(--clr-theme-1);
            display: inline-block;
            border-radius: 50%;
        }
    }
    &-text {
        a,span {
            font-size: 14px;
            display: inline-block;
        }
        a:hover {
            color: var(--clr-theme-1);
        }
    }
}
.bd-contact-list-text-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
}
.bd-contact-social-title {
    font-size: 24px;
    font-weight: 600;
}
.bd-contact-social {
    a {
        font-size: 16px;
        display: inline-block;
        margin-right: 25px;
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            color: var(--clr-theme-1);
        }
    }
}
.bd-contact-form {
    form {
        background: var(--clr-bg-gray);
        padding: 30px 60px 40px 60px;
        @media #{$xxs} {
            padding: 20px 30px 30px 30px;
        }
    }
}
.bd-contact-field {
    input,
    textarea {
        height: 60px;
        width: 100%;
        border-radius: 10px;
        background: var(--clr-common-white);
        border: none;
        font-size: 16px;
        font-weight: 400;
        padding: 0px 20px;
        outline: none;
        color: var(--clr-body-text);
        &::-moz-placeholder {
            font-size: 16px;
            opacity: 1;
            color: var(--clr-body-text);
        }
        &::placeholder {
            font-size: 16px;
            opacity: 1;
            color: var(--clr-body-text);
        }
    }
    textarea {
        height: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        @media #{$xxs} {
            height: 200px;
        }
    }
    .theme-btn {
        font-size: 16px;
    }
}
.bd-contact-form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.bd-contact .bd-section-title-wrapper p {
    padding-right: 110px;
    @media #{$xl,$lg} {
        padding-right: 50px;
    }
    @media #{$lg,$md,$xs} {
        padding-right: 0px;
    }
}

