/*----------------------------------------*/
/*  09. Testimonial
/*----------------------------------------*/
.bd-testimonial-item {
    .bd-testimonial-icon {
        i {
            font-size: 50px;
            line-height: 1;
            display: inline-block;
            color: var(--clr-theme-1);
        }
    }
    p {
        font-size: 20px;
        line-height: 1.6;
        font-style: italic;
        @media #{$xs} {
            font-size: 18px;
        }
        &.mb-25 {
            margin-bottom: 28px;
        }
    }
    .bd-testimonial-title {
        font-size: 36px;
        line-height: 1.12;
        font-weight: 600;
        @media #{$md,$xs} {
            font-size: 28px;
        }
    }
    span {
        font-size: 16px;
        display: block;
    }
}
.testimonial-nav {
	width: 320px;
	margin: 0 auto;
    @media #{$xxs} {
        width: 300px;
    }
    .swiper-slide {
        width: 90px;
        text-align: center;
        .bd-testimonial-img {
            height: 80px;
            width: 80px;
            object-fit: cover;
            border-radius: 50%;
            border: 6px solid var(--clr-common-white);
            display: inline-block;
            img {
                cursor: pointer;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &.swiper-slide-prev + .swiper-slide-active {
            margin-right: 28px !important;
            margin-left: -3px !important;
            .bd-testimonial-img {
                height: 105px;
                width: 105px;
                border: 8px solid var(--clr-common-white);
            }
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            .bd-testimonial-img {
                margin-top: 13px;
            }
        }
    }
}


