#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

.cover-img {
  width: 100%;
}

.Shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10%;
  width: 25%;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

button {
  background-color: #ffda0a; 
  border: none; 
  color: black; 
  padding: 3% 9%; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5%;

}

button:hover {
  background-color: red; 
}

@media screen and (max-width: 850px) {
  .item {width: 50%;}
}
